:root {
    --vh: 1vh;
}

.app-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(var(--vh, 1vh));
    overflow: hidden;
}

.header {
    flex-shrink: 0;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.account-icon {
    width: 24px;
    height: 24px;
    background-color: #ccc;
    border-radius: 50%;
}

.message-interface {
    flex-grow: 1;
    margin-left: 5vw;
    width: 95vw;
    overflow-y: auto;
}

.message-row {
    margin: 40px 0;
    margin-right: 5vw;
}

.message-row.user {
    text-align: right; 
}

.message-row.server {
    text-align: left;
}

.message-bubble {
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    max-width: 80%;
    overflow-wrap: break-word;
    overflow-x: scroll;
}

.message-bubble.user {
    background-color: #207050;
    color: #fff;
    border-top-right-radius: 0;
    text-align: left;
}

.message-bubble.server {
    background-color: #fff;
    color: #000;
    border-top-left-radius: 0;
}

.input-bar {
    background-color: #242424;
    flex-shrink: 0;
    margin-left: 5vw;
    width: 90vw;
    padding: 10px 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 10px;
    overflow-x: auto;
}

.prompt-input {
    background-color: rgb(22, 22, 22);
    color: #fff;
    padding: 10px;
    font-size: 16px;
    flex: 1;
    border-radius: 10px;
    box-sizing: border-box;
}

.input-actions {
    display: flex;
    flex: 0 1 auto;
    gap: 10px;
}
@media (max-width: 490px) { /* TODO: Hardcoded :(  # Muss angepasst werden wenn Modelnamen bekannt sind. Darauf achten, dass beim kleiner ziehen erst die Textgröße springt und dann erst die input bar zweizeilig wird, das natürlich möglichst knapp. */
    .input-bar {
        flex-wrap: wrap;
        }
    .input-actions {
        flex: 1 1 auto;
    }

    .message-bubble {
        max-width: 90%;
    }

    * {
        font-size: 14px;
    }
}

.model-dropdown {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    box-sizing: border-box;
}

.send-button {
    color: #fff;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    cursor: pointer;
    border-radius: 10px;
    box-sizing: border-box;
}

code, table {
    max-width: calc(100% - 20px);
    margin: 0 10px;
    margin-bottom: 20px;
}
table {
    margin-bottom: 10px;
}
.comment {
    color: #36b180 /* little lighter that message green due to dark background */
}